{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4" style="margin-top: 70px; text-align: center;">Register</h1>
            <form method="post" action="{% url 'register' %}" class="border p-4 rounded shadow-sm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
